*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #FFFFFF;

    padding: 60px 23px 66px;
}

p  {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    letter-spacing: 3px;
    text-transform: uppercase;

    color: #7158EF;
}

h1 {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
  
    color: #090039;
}

a {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;

    color: #090039;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

span {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;

    padding-right: 38px;

    letter-spacing: -2px;

    color: #090039;
}

li {
    font-family: 'Epilogue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;

    color: #090039;
}