body {
  margin: 0;
  
}

.page {
  border: 1px solid red;
  padding: 80px;
  margin: 65px auto 0;
  width: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}